
<div class="container">
	<h1>contato</h1>
		<div class="row">
			<h3>Escolha a sua forma de contato</h3>
			<div class="col l4 offset-l1">
				<div class="card">
					<a href="https://facebook.com"><img src="../../assets/facebook.png"></a>
					<h5>Facebook</h5>
				</div>
			</div>
			<div class="col l4 offset-l2">
				<div class="card">
					<a href="https://gmail.com"><img src="../../assets/gmail.png"></a>
					<h5>Gmail</h5>
				</div>
			</div>
			<div class=" col l4 offset-l4">
				<div class="card">
					<a href="https://forumBigCastle"><img src="../../assets/group.png"></a>
					<h5>Forum</h5>
				</div>
			</div>
		</div>
</div>