<nav>
  <div class="nav-wrapper">
  	<h3 class="brand-logo center">Big Castle</h3>
    <a href="" class="brand-logo">
      <img class= "logotipo" src="../../assets/tower.png">
    </a>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/home"><i class="material-icons left">home</i>Home</a></li>
      <li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/SobreNos"><i class="material-icons left">grade</i>Sobre Nós</a></li>
    </ul>
  </div>
</nav>
