
#cadastro{
	width: 100%;
	height: 100%;

}
.btn{
	text-align: center;
	width: 100%;
	margin-bottom: 10%;
	background-color: green;
}
#login{
	background-color: white;
	height: 100%
}

#inicio{
	margin-top: 10%;
}
label{
	color: black

}
.row{
	margin-top: 2%
}
img{
	width: 100%;
	height: 100%
}
h5{
	text-align: center;
}

#conteudo{
	margin-top: 10%
}
.validate{
	color: black
}
