
<div class="row">
    <div class="mensagem col l5 offset-l2">
        <h2 class="header">Desenvolvimento</h2>
      <div id="carta" class="card horizontal">
        <div class="card-image">
          <img src="../../assets/cat.gif">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Big Castle é um ogo desenvolvido por nada mais nada menos do que a grande NaimSoft. Empresa que carrega grandes nomes como "tubarões comedores de concreto 2" "cachorros assassinos" e o seu último maior socesso "Grand Theft Naldo" ( Onde você explode o mundo no corpo do grande jogador Cristiano Ronaldo, tendo DLC com o Ronaldinho)</p>
          </div>
          <div class="card-action">
            <a href="https://facebook.com">NaimSoft no Facebook</a>
          </div>
        </div>
      </div>
    </div>


  <div id="donate" class="col l4 offset-l1">
        <div id="SaberMais" class="card">
          <div class="card-image">
            <img src="../../assets/donate.jpg">
            <span class="card-title">Caminhando juntos</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.kickstarter.com/"><i id="botaodoar" class="material-icons">attach_money</i></a>
          </div>
          <div class="card-content">
            <p>O jogo ainda está em sua versão alfa. E para poder promover a melhor esperiência para você estamos aceitando doações em troca de um futuro discosto na compra do game completo. Queremos lançar o melhor jogo o mais rápido possível</p>
          </div>
        </div>
    </div>

</div>
 <div class="row">
  <div class="col l10 offset-l2 ">
    <div class="mensagem">
      <h2 class="header">Como o jogo Funciona</h2>
      <div id="carta" class="card horizontal">
        <div class="card-image">
          <img src="../../assets/batalha.gif">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Big Castle é uma espécie de moba e primeria pessoa (então o seu objetivo é o mesmo dos demais que é destruir uma base), porém todo o seu contexto e os elementos são medievais, suas torres são de arqueiros, todos os personagens são inspirados em filmes medievais e na própria história </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div>
    <div class="mensagem col l4 offset-l2" >
      <h2 class="header">Criação de personagem</h2>
      <div id="carta" class="card horizontal">
        <div class="card-image">
          <img src="../../assets/mudanca.gif">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Possuindo mais de 10000 combinações diferentes podendo ser criadas ( incluindo: sexo, roupas, fisico, armas). Oobjetivo era variar o máximo em cada aspecto para o jogador poder criar o seu personagem da forma que mais se identificar </p>
            <br>
            <p>O jogo também conta com um enorme arsenal de armas, essas podendo ser de curto, medio e longo alcance</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="mensagem col l4 offset-l2" >
      <h2 class="header">Sistema de batalha</h2>
      <div id="carta" class="card horizontal">
        <div class="card-image">
          <img id="combate" src="../../assets/combate.gif">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Com o objetivo de deixar as batalhas o mais épicas possível. além dos inimugos online para batalhar, esxistirão chefes e outros monstros pelo mapa. </p>
            <br>
            <p> Além de poder batalhar sozinho contra os inimigos, existirão combos para fazer com aliados próximos ( melhorando a mecânica do jogo)  </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
       